header {
	background-color: var(--c1);

	h1 {
		display: flex;
		gap: 0.5em;
		align-items: center;
		a {
			color: var(--c2);
			text-decoration: none;
		}

		img {
			height: 2em;
			color: var(--c2);
		}
	}

	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

	nav {
		display: flex;
		gap: 0.25em;

		a {
			font-weight: bold;
			padding: 0.3em 1.2em;
			color: var(--c3);
			border-radius: 0.5em;
			transition: all 0.5s;

			&:hover {
				color: var(--c2);
				background-color: var(--c4);
			}
		}
	}
}
main {
	background-color: var(--c5);
	padding: 1rem;
	flex-grow: 1;
}
footer {
	background-color: var(--c6);
	a { color: var(--c7); }
	padding: 1rem;
}

code {
	font-size: 125%;
	background-color: var(--c8);
	border-radius: 3px;
	padding: 0.25em 0.15em;

}

label { font-weight: bold; }


.a1 { background-color: #5352ba; }
.a2 { background-color: #279199; }
.a3 { background-color: #7b3069; }
.a4 { background-color: #4d7ec3; }
.a5 { background-color: #63b79f; }
.a6 { background-color: #cbc3ae; }


.form-item {
	margin-bottom: 0.75em;

	input { font-size: 120%; }
}

/* TODO hitta snyggare box shadow på knapparna */
.btn {
	display: inline-flex;
	align-items: center;
	gap: 0.5em;
	width: auto;
	box-shadow: 5px 4px 6px var(--c6);
	text-decoration: none;
	transition: all 0.4s;
	border: none;
	margin: 0.2em 0 0.7em 0;
	font-size: 1rem;
	background-color: var(--c1);
	padding: 0.4em 1.2em;
	border-radius: 0.5em;
	color: var(--c2);

	&:hover {
		cursor: pointer;
		box-shadow: 3px 2px 2px var(--c6);
	}
	&:active {
		background-color: var(--c9);
	}

	&.icon {
		padding: 0.4em;
		box-shadow: 0px 0px 8px 3px var(--c6);

		&:hover {
			cursor: pointer;
			box-shadow: 0px 0px 3px 1px var(--c6);
		}
	}

	.lucide {
		height: 1.2em;
	}
}


/* Start view */
.start-view {
	.big-button {
		text-decoration: none;

		&:hover {
			background-color: var(--c4);
		}
	}
}