:root {
	--c1: #8e2575;
	--c2: #FFF6DD;
	--c3: #f382d8;
	--c4: #612074;
	--c5: #588cd5;
	--c6: rgb(26, 25, 77);
	--c7: #a9b5e2;
	--c8: #98b1d4;
	--c9: #b73598;
}

* {
	box-sizing: border-box;
}

#root {
	min-height: 100svh;
	display: flex;
	flex-direction: column;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100svh;
	background-color: aqua;
	font-family: Avenir, Helvetica, Arial, sans-serif;
}

h1, h2, h3 { margin: 0; }


.row {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.75em;
	flex-wrap: wrap;
}
.column {
	display: inline-flex;
	flex-direction: column;
	/* align-items: center; */
	/* gap: 0.75em; */
	/* flex-wrap: wrap; */
}
